<div class="site-section bg-light" id="about-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">{{about.title}}</h2>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-6">
                <h2 class="text-black mb-4">{{about.subTitle}}</h2>
                <img src="{{about.image}}" alt="Image" class="img-fluid mb-5 mb-lg-0 rounded shadow">

            </div>
            <div class="col-lg-6 ml-auto pl-lg-5 mt-2 mb-0 pb-0 text-justify">
                <p class="mb-4">
                    {{about.column1}}
                </p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 text-justify mt-0 pt-0">
                <p class="mb-3">At Emerging Data, we consider there is no “graal” for actionable data: no machine learning algorithm, no generic big data hidden value. We believe in a case by case approach combining human analysis of a <strong>data</strong> context and machine Learning, that will lead to <strong>knowledge </strong> convertible - or not - into <strong>actions</strong>.
                </p>
            </div>
        </div>
    </div>
</div>