<div class="site-blocks-cover">
    <div class="container">
        <div class="row align-items-center justify-content-center mt-5">

            <div class="col-md-12" style="position: relative;" data-aos="fade-up">

                <img src="/_includes/assets/img/landing_1.png" alt="Image" class="img-fluid img-absolute">

                <div class="row mb-4">
                    <div class="col-lg-5 mr-auto">
                        <h3>{{collections.cover[0].data.title}}</h3>
                        <p>{{ collections.cover[0].templateContent | safe }}</p>
                        <a href="{{ collections.cover[0].data.link.url }}" class="btn btn-primary mr-2 mb-2">{{ collections.cover[0].data.link.text }}</a>
                    </div>
                </div>

            </div>
        </div>
    </div>