<div class="row align-items-center justify-content-center pt-1">
    <div class="col-md-12" style="position: relative;" data-aos="fade-up">
        <div class="jumbotron bg-white p-5">
            <h4 class="display-4 text-center mt-4">{{subtitle}}</h4>
            <div class="text-black text-justify p-4 ">{{content | safe}}</div>

            <p class="lead text-center">
                <a class="btn btn-primary btn-lg" href="#" role="button">Read more</a>
            </p>
        </div>
    </div>
</div>