<div class="">
    <div class="jumbotron jumbotron-fluid mt-5 hero-internal mb-0" style="background: url('{{header.image}}') no-repeat center center
    fixed;">
        <div class="container pt-sm-5">
            <div class="row align-items-center">
                <div class="col-lg-8 col-sm-12 ">
                    <h2 class="section-title mb-3 mt-5 hero-title">{{header.title}}</h2>
                        <div class="hero-text my-auto ">
                        {{header.text}}
                        </div>
                    <div>
                    {% for button in header.buttons %}
                        <a href="{{ button.link}}" class="btn btn-dark sm mt-3 mr-2 dark">{{ button.text }}</a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>