<script src="/_includes/assets/js/jquery-3.3.1.min.js"></script>
<script src="/_includes/assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/_includes/assets/js/jquery-ui.js"></script>
<script src="/_includes/assets/js/popper.min.js"></script>
<script src="/_includes/assets/js/bootstrap.min.js"></script>
<script src="/_includes/assets/js/owl.carousel.min.js"></script>
<script src="/_includes/assets/js/jquery.stellar.min.js"></script>
<script src="/_includes/assets/js/jquery.countdown.min.js"></script>
<script src="/_includes/assets/js/bootstrap-datepicker.min.js"></script>
<script src="/_includes/assets/js/jquery.easing.1.3.js"></script>
<script src="/_includes/assets/js/aos.js"></script>
<script src="/_includes/assets/js/jquery.fancybox.min.js"></script>
<script src="/_includes/assets/js/jquery.sticky.js"></script>
<script src="/_includes/assets/js/main.js"></script>

<script>
    if (window.netlifyIdentity) {
        window
            .netlifyIdentity
            .on("init", user => {
                if (!user) {
                    window
                        .netlifyIdentity
                        .on("login", () => {
                            document.location.href = "/admin/";
                        });
                }
            });
    }

    serializeObject = function (form) {
        "use strict";
        var a = {},
            b = function (b, c) {
                var d = a[c.name];
                "undefined" != typeof d && d !== null
                    ? $.isArray(d)
                        ? d.push(c.value)
                        : a[c.name] = [d, c.value]
                    : a[c.name] = c.value
            };
        return $.each(form.serializeArray(), b),
        a
    };

    var formSelector = '#contact';
    $(formSelector).submit(function (e) {
        e.preventDefault()
        var form = $(formSelector)
        var url = 'https://api.clickexperts.com/api/responses/storeAndSend';
        $(formSelector).append('<input type="hidden" name="_form_key" value="5ef467a2b8b1d508c9215a55" /> ');
        $.post(url, {parameters: serializeObject(form)});
        form.trigger("reset");
    })

     var formSelector = '#download';
    $(formSelector).submit(function (e) {
        e.preventDefault()
        var form = $(formSelector)
        var url = 'https://api.clickexperts.com/api/responses/storeAndSend';
        $(formSelector).append('<input type="hidden" name="_form_key" value="602bd9897186406c7de45d80" /> ');
        $.post(url, {parameters: serializeObject(form)}, () => {
             window.location.href = '/_includes/assets/doc/emerging-data-services.pdf';
        form.trigger("reset");
        });
        // Download form
       
    })
</script>