<div class="site-section" id="whatwedo-section">
    <div class="container">

        <div class="row align-items-stretch container">
            <div class="row">
                <div class="col text-right">
                    <img src="/_includes/assets/img/help.jpg" alt="" style="width: 500px;" class="img-fluid mb-5 mb-lg-0 rounded shadow">
                </div>
                <div class="col text-justify">
                    <div class="row mb-1">
                        <div class="col-12 text-center">
                            <h2 class="section-title mb-3">What we do</h2>
                        </div>
                    </div>
                    <ul class="pt-2">
                        {{collections.whatwedo[0].templateContent | safe}}
                    </ul>
                    {# <div class="text-center">
                        <img src="/_includes/assets/img/graph.png" alt="" style="width: 350px;">
                    </div> #}
                </div>

            </div>

        </div>
    </div>
</div>