<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

    {% include "components/head.njk" %}

    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

        <div class="site-wrap" id="home-section">

            {% include "components/nav.njk" %}
            {% block mainContent %}{% endblock mainContent%}
            {% include "components/footer.njk" %}
        </div>
        <!-- .site-wrap -->

        {% include "components/js.njk" %}

    </body>

</html>