{% extends "layouts/base.njk" %}
{% block mainContent %}
    <div class="site-section bg-white" id="blog-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">News & Events</h2> 
          </div>
        </div>
        <div class="row">
        {% for post in collections.events %}
          <div class="col-md-6 col-lg-6 mb-4 mb-lg-4">
            <div class="h-entry">
              <img src="{{post.data.image}}" alt="Image" class="img-fluid">
              <h2><a href="{{post.url}}">{{post.data.title}}</a></h2>
              <div class="meta mb-4">{{post.date | readableDate}}<span class="mx-2">&bullet;</span> {{post.data.category}}</div>
              <h5>{{post.data.subTitle | safe}}</h5>
              <p>{{post.data.excerpt | safe}}</p>
              {% if post.data.link %}
              <p><a href="{{post.url}}">Read the article</a></p>
              {% endif %}
            </div> 
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
{% endblock mainContent%}