{% extends "layouts/base.njk" %}
{% block mainContent %}
    {% include "components/cover.njk" %}
    {% include "components/expertise.njk" %}
    {% include "components/about.njk" %}
    {% include "components/whatwedo.njk" %}
    {% include "components/products.njk" %}
    {% include "components/drivesus.njk" %}
    {% include "components/bios.njk" %}
    {% include "components/blog.njk" %}
{% endblock mainContent%}