{% extends "layouts/base.njk" %}
{% block mainContent %}
    {% include "components/hero.njk" %}
    {% include "components/tiles.njk" %}
    {% include "components/contact.njk" %}
{% endblock mainContent%}